.grid{
    display: grid; 
    grid-template-columns: repeat(2, .5fr);
    grid-gap: 2rem;
}

.weekMealsTitle {
    margin-bottom: 2rem;
}


@media only screen and (max-width: 500px) {
    .grid {
        grid-template-columns: repeat(1, 1fr);
    }
}

